@font-face {
  font-family: 'RoboRegular';
  src: url('../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'RoboBold';
  src: url('../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* PTSerif */

@font-face {
  font-family: 'PTSerif';
  src: url('../fonts/PTSerif/PTSerifRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSerif/PTSerifRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerif';
  src: url('../fonts/PTSerif/PTSerifBold.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSerif/PTSerifBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerif';
  src: url('../fonts/PTSerif/PTSerifItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSerif/PTSerifItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
}

/* PTSerifCaption */

@font-face {
  font-family: 'PTSerifCaption';
  src: url('../fonts/PTSerifCaption/PTSerifCaptionRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSerifCaption/PTSerifCaptionRegular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'PTSerifCaption';
  src: url('../fonts/PTSerifCaption/PTSerifCaptionBold.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSerifCaption/PTSerifCaptionBold.ttf') format('truetype');
  font-weight: bold;
}

/* PTSans */

@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PTSans/PTSansRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSans/PTSansRegular.ttf') format('truetype');
  font-weight: normal;

}

@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PTSans/PTSansBold.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSans/PTSansBold.ttf') format('truetype');
  font-weight: bold;
}

/* PTSansCaption */

@font-face {
  font-family: 'PTSansCaption';
  src: url('../fonts/PTSansCaption/PTSansCaptionRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSansCaption/PTSansCaptionRegular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'PTSansCaption';
  src: url('../fonts/PTSansCaption/PTSansCaptionBold.eot?#iefix') format('embedded-opentype'), url('../fonts/PTSansCaption/PTSansCaptionBold.ttf') format('truetype');
  font-weight: bold;
}

/* DIN */

@font-face {
  font-family: "DIN";
  src: url('../fonts/DIN/DNC57__W.eot');
  src: url('../fonts/DIN/DNC57__W.eot?iefix') format('eot'), url('../fonts/DIN/DNC57__W.woff') format('woff'), url('../fonts/DIN/DNC57__W.ttf') format('truetype'), url('../fonts/DIN/DNC57__W.svg#DINCondensedWeb') format('svg');
}

/*Geometria*/

@import url("//hello.myfonts.net/count/2a7623");

@font-face {
  font-family: 'Geometria-Bold';
  src: url('../webfonts/2A7623_0_0.eot');
  src: url('../webfonts/2A7623_0_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/2A7623_0_0.woff') format('woff'), url('../webfonts/2A7623_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Geometria';
  src: url('../webfonts/2A7623_1_0.eot');
  src: url('../webfonts/2A7623_1_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/2A7623_1_0.woff') format('woff'), url('../webfonts/2A7623_1_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Institut';
  src: url('../webfonts/2A7623_2_0.eot');
  src: url('../webfonts/2A7623_2_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/2A7623_2_0.woff') format('woff'), url('../webfonts/2A7623_2_0.ttf') format('truetype');
}
