/*colors scheme*/
main-c = #CCC
fade-c = #333
text-c = #FFF
text-c2 = #6D6E70
mc = #1D272A
mc2 = #2E393C
nac = #FFC519
unna = #F3740D
un = #A1A4A7

*
  user-select none
#ig
  position: absolute
  left: 0
  top: 0
  color text-c
  .social-btns
    position absolute
    bottom 20px
    left: 50%
    .wrapper
      left -50%
    .social
      display inline-block
      vertical-align top
      margin-right 20px
      &:last-child
        margin-right 0
  .btn
    cursor pointer
    &.social
      size-btn = 50px
      width: size-btn
      height: size-btn
      &.rounded
        border-radius 5px
  .content
    position absolute
    left: 0
    top: 0
    .ig-logo
      position: absolute
      font-family PTSans
      color #949494
      font-size 10px
      left: 20px
      bottom: 20px
    .lenta-logo
      position: absolute
      right: 20px
      bottom: 15px
    .map
      width: 100%
      height: 100%
      background-color: #1d272a;
      .filter
        .header
          cursor pointer
          rect
            fill #2E393C
          .border-point
            stroke-width 1.5px
            stroke #898989
            fill none
          text
            fill #E7E7E7
            font-family PTSansCaption
            font-size 10px
            text-transform uppercase
          .inner-circle
            opacity 0
            fill white
            transition opacity .3s
          &.selected
            .inner-circle
              opacity 1
      .filter-point
        cursor pointer
      .approve-line
        stroke-width 1px
        stroke nac
        opacity: .4
      .border-line
        stroke-width 1px
        stroke white
        opacity .1
      #rects
        rect
          cursor pointer
/*browser settings*/
html
  #browsehappy
    display none
  &.desktop-device
    .debug-panel
      display none
  &.no-svg
  &.no-canvas
    #browsehappy
      display block
    #ig
      display none
  &.svg
  &.canvas
    #browsehappy
      display none
    #ig
      display block