/*colors scheme*/
main-c = #CCC
fade-c = #333
text-c = #FFF

#ig
  position: absolute
  left: 0
  top: 0
  color text-c
  .social-btns
    position absolute
    bottom 20px
    left: 50%
    .wrapper
      left -50%
    .social
      display inline-block
      vertical-align top
      margin-right 20px
      &:last-child
        margin-right 0
  .btn
    cursor pointer
    &.social
      size-btn = 50px
      width: size-btn
      height: size-btn
      background-color fade-c
      &.rounded
        border-radius 5px
    &#full-screen
      &.default
        width: 100px
        height: 50px
        background-color fade-c
        position: absolute
        bottom: 20px
        right: 20px
  html.parallax &
    position: fixed
    width: 100%
    height: 100%
    background-color fade-c
    .content
      position inherit
      width inherit
      height: inherit
      .btn
        &.social
          background-color text-c
        &#full-screen.default
          background-color text-c
      .cover
        position: absolute
        left: 0
        top: 0
        width inherit
        height: inherit
        background-repeat no-repeat
        background-position center center
        &.fader
          background-color fade-c
          opacity: .5
        &.global
          background-image url(http://www.bankoboev.ru/images/Mzk1NDcw/Bankoboev.Ru_uzornaya_abstrakciya_s_zavitushkami.jpg)
      .slide
        position: absolute
        width: 1024px;
        height: 768px;
        left: 50%;
        top: 50%;
        &.title
          .header
            text-transform uppercase
            text-align center
            transition color .5s
            &.main
              font-size: 40px
              font-weight bold
            &.sub
              font-size: 20px
              font-weight normal
            &.invert
              color red
        .fix-context
          position: absolute;
          width: inherit;
          height: inherit;
          left: -50%;
          top: -50%;
          .layer
            position inherit
            width: inherit;
            height: inherit;
  html.full-screen &
    background-color fade-c
    width: 100%
    height: 100%
  .content
    background-color main-c
    position absolute
    left: 0
    top: 0
    html.full-screen &
      transform scale(1)
      transform-origin 0 0

/*browser settings*/
html
  &.desktop-device
    .debug-panel
      display none
  &.no-svg
  &.no-canvas
    #browsehappy
      display block
    #ig
      display none
  &.svg
  &.canvas
    #browsehappy
      display none
    #ig
      display block